@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #171717;
  --width: 12px;
  --height: 12px;
  /* --primary: #db556d; */
  --primary: #8E67E6;
  --body: #f1f3f6;
  --borderRadius: 50%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.mySwiper {
  overflow: hidden;
}

.swiper-container {
  position: relative !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    #4382d6 0%,
    #9c69ca 50%,
    #e64480 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background-image: linear-gradient(
    90deg,
    #dce9f8 0%,
    /* Very Light Blue */ #e9ddf3 50%,
    /* Very Light Purple */ #fbe4ec 100% /* Very Light Pink */
  );
}

.step {
  position: relative;
}

.step-line {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateX(-50%, -50%);
  width: 0vw;
  height: 12px;
  animation: 0.6s linear increase-step forwards;
  background-color: #8E67E6;
}

.step-line-reverse {
  position: absolute;
  top: 40%;
  width: 0vw;
  height: 12px;

  left: -15.5vw;
  animation: 0.6s linear decrease-step;
  background-color: #8E67E6;
}

@keyframes increase-step {
  0% {
    width: 0vw;
  }
  100% {
    width: 16vw;
  }
}

@keyframes decrease-step {
  0% {
    width: 16vw;
  }
  100% {
    width: 0vw;
  }
}




h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-semibold;
}
h3 {
  @apply text-lg font-medium;
}






.sparkle-container {
  position: relative;
  width: 40px;
  height: 40px;
}

/* .smoke-effect {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(200, 0, 255, 0.2) 0%, rgba(18, 0, 36, 0) 70%);
  filter: blur(10px);
  animation: smokeEffect 10s infinite alternate;
} */

.sparkle {
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(128, 0, 255, 0.7));
}

.sparkle-main {
  width: 100%;
  height: 100%;
  z-index: 3;
  animation: pulseMain 3s infinite alternate;
}

.sparkle-medium {
  width: 50%;
  height: 50%;
  bottom: -10%;
  right: -10%;
  z-index: 2;
  animation: pulseMedium 2s infinite alternate;
}

.sparkle-small {
  width: 35%;
  height: 35%;
  top: -20%;
  right: 0%;
  z-index: 1;
  animation: pulseSmall 3s infinite alternate;
}

@keyframes gradientWave {
  0% { stop-color: #ff00ff; }
  25% { stop-color: #8000ff; }
  50% { stop-color: #0080ff; }
  75% { stop-color: #8000ff; }
  100% { stop-color: #ff00ff; }
}

@keyframes smokeEffect {
  0% { transform: scale(1) rotate(0deg); }
  100% { transform: scale(1.1) rotate(5deg); }
}

@keyframes pulseMain {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes pulseMedium {
  0% { transform: scale(1) translate(0, 0); }
  100% { transform: scale(1.1) translate(5px, -5px); }
}

@keyframes pulseSmall {
  0% { transform: scale(1) translate(0, 0); }
  100% { transform: scale(1.15) translate(-5px, 5px); }
}

.gradient-stop-1 {
  animation: gradientWave 3s ease-in-out infinite;
}

.gradient-stop-2 {
  animation: gradientWave 3s ease-in-out infinite ;
}

.gradient-stop-3 {
  animation: gradientWave 3s ease-in-out infinite 2s;
}






.sparkle-off {
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(128, 0, 255, 0.7));
}

.sparkle-off-main {
  width: 100%;
  height: 100%;
  z-index: 3;
  /* animation: pulseMain 3s infinite alternate; */
}

.sparkle-off-medium {
  width: 50%;
  height: 50%;
  bottom: -10%;
  right: -10%;
  z-index: 2;
  /* animation: pulseMedium 2s infinite alternate; */
}

.sparkle-off-small {
  width: 35%;
  height: 35%;
  top: -20%;
  right: 0%;
  z-index: 1;
  /* animation: pulseSmall 3s infinite alternate; */
}


.gradient-stop-1 {
  /* animation: gradientWave 3s ease-in-out infinite; */
}

.gradient-stop-2 {
  /* animation: gradientWave 3s ease-in-out infinite 1s; */
}

.gradient-stop-3 {
  /* animation: gradientWave 3s ease-in-out infinite 2s; */
}

