@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #171717;
  --width: 12px;
  --height: 12px;
  /* --primary: #db556d; */
  --primary: #8E67E6;
  --body: #f1f3f6;
  --borderRadius: 50%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.mySwiper {
  overflow: hidden;
}

.swiper-container {
  position: relative !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    #4382d6 0%,
    #9c69ca 50%,
    #e64480 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background-image: linear-gradient(
    90deg,
    #dce9f8 0%,
    /* Very Light Blue */ #e9ddf3 50%,
    /* Very Light Purple */ #fbe4ec 100% /* Very Light Pink */
  );
}

.step {
  position: relative;
}

.step-line {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateX(-50%, -50%);
  width: 0vw;
  height: 12px;
  animation: 0.6s linear increase-step forwards;
  background-color: #8E67E6;
}

.step-line-reverse {
  position: absolute;
  top: 40%;
  width: 0vw;
  height: 12px;

  left: -15.5vw;
  animation: 0.6s linear decrease-step;
  background-color: #8E67E6;
}

@keyframes increase-step {
  0% {
    width: 0vw;
  }
  100% {
    width: 16vw;
  }
}

@keyframes decrease-step {
  0% {
    width: 16vw;
  }
  100% {
    width: 0vw;
  }
}




h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-semibold;
}
h3 {
  @apply text-lg font-medium;
}